.login_container {
    background-image: url('/assets/arturo-serna-1024x771.jpg');
    background-size: cover;
    /* Ajustar la imagen al tamaño del div */
    background-repeat: no-repeat;
    /* Evitar la repetición de la imagen */
    /* Otras propiedades opcionales */
    background-position: center center;
    background-attachment: fixed;
    padding: 20% 0;
    // text-align: center;

    form {
        background-color: #29292987;
        color: #ffff;
        // width: 410px;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        div {
            display: grid;
            grid-template-columns: 100px 250px;
            grid-template-rows: auto auto;
            justify-content: center;
            margin: 10px 0;
        }
    }
}
