  /* ESTILOS DE TABLA DE GRUPO */
  .containerTablaAlumnos {
    padding: 65px 45px 55px;
  }
  
  .containerTablaAlumnos h1 {
    margin-bottom: 25px;
  }
  
  .containerTablaAlumnos .tabblaAlumnos tbody tr td:last-child{
    text-align: center;
  }
  
  /* ESTILOS DE EDICION O AGRREGAR GRUPO */
  
  .edicionGrupo {
    padding: 65px 45px 55px;
  }
  
  .edicionGrupo .contenedorInfo input {
  
  
    width: 60% !important;
  }
  
  .edicionGrupo .contenedorInfo textarea {
    width: 80% !important;
  }
  