  /* ESTILOS DE TABLA DE sucursales */
  .containerTablaSucursales {
    padding: 65px 45px 55px;
  }

  .containerTablaSucursales h1 {
    margin-bottom: 25px;
  }

  .containerTablaSucursales .tabla-contenidos tbody tr td:last-child {
    /* text-align: center; */
    display: flex !important;

  }

  /* .containerTablaSucursales .tablasucursales .tabla-contenidos tbody td .estilo-editarBtn{
    display: inline-block !important;
  } */
  /* ESTILOS DE EDICION O AGRREGAR sucursal */

  .edicionGrupo {
    padding: 65px 45px 55px;
  }

/*   
  .edicionGrupo .contenedorInfo input {
  
  
    width: 60% !important;
  }
  
  .edicionGrupo .contenedorInfo textarea {
    width: 80% !important;
  } */