.navbar_container .cont_mainNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.navbar_container .cont_mainNav .logo_container {
    width: 100px;
}


.navbar_container .cont_mainNav .logo_container img {
    width: 100%;
}

.navbar_container .cont_mainNav .links {
    color: black;
    text-decoration: none;
}

.navbar_container .cont_mainNav .links:hover {
    color: #33CC33;
}

.navbar_container .cont_linea {
    width: 100%;
}

.navbar_container .cont_linea img {
    width: 100%;
}